main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.nav{
  border-bottom: solid, 2px, black;
}