main {
	margin: 0 auto;
}

* {
  box-sizing: border-box;
}

h1{
  
  font-family: pragmatica-extended, sans-serif;
  font-weight: 900;
  font-style: normal; 
}

h2{
  font-family: pragmatica-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
  font-family: sculpin, sans-serif;
  font-weight: 300;
  font-style: normal;

}

img{
  width: 50%;
  object-fit: contain;

}

li{
  list-style: none;
  padding: 5px;
}
li:hover{
  font-weight: bold;
}

.nav{
  border-top: 2px solid black;
  justify-content: center;

}

.home{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  border: 2px solid black;
  text-align: center;
}

.about{
  text-align: center;
  padding: 5% 20%;
}

.skills{
  padding-top: 5%;
}

.portfolio{
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  text-align: center;
  border: solid 2px black;
  padding: 5% 20%;
}

.featured{
  border: solid 2px black;
  border-radius: 15px;
  width: 50%;
  background-color: white;
}

button{
  border: 2px solid black;
  border-radius: 15%;
  background-color: white;
  padding: 10px;
  width: 20%;
}

button:hover{
  background: none;
}

.portfolio-card{
  border: 2px solid black;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.footer{
  border-bottom: solid 2px black;
  text-align: center;
}